.banner-wrapper {
    width: 100%;
    height: 250px;
}

.main-wrapper {
    width: 100%;
    min-height:500px;
    height: auto;
}

.main-wrapper .main-content {
    width: 1000px;
    height: auto;
    margin: 20px auto 0
}

.main-wrapper .main-content .right-wrapper {
    float: right;
    width: 760px;
    min-height: 375px;
    border-radius: 3px
}

.main-wrapper .main-content .right-wrapper .login-content {
    width: 750px;
    height: auto;
    overflow: hidden;
}

.main-wrapper .main-content .right-wrapper .login-content fieldset {
    border: 1px solid #6e6e6e;
    margin: 10px;
    padding: 10px
}

.main-wrapper .main-content .right-wrapper .login-content fieldset legend {
    font-weight: bold;
    color: yellow
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    color: #fff;
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li div {
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li div:nth-child(1) {
    width: 135px;
    text-align: right
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li div input[type="text"], .main-wrapper .main-content .right-wrapper .login-content fieldset li div input[type="password"] {
    width: 200px;
    height: 35px;
    padding: 0 6px;
    line-height: 35px;
    border: 1px solid #666;
    border-radius: 3px;
    box-shadow: 0 0 6px #3a3a3a;
    outline: 0;
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li div select {
    width: 41px;
    height: 20px;
    padding: 0 5px;
    line-height: 20px;
    border: 1px solid #666;
    border-radius: 3px;
    box-shadow: 0 0 6px #3a3a3a;
    outline: 0
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li div img {
    width: 40px;
    height:  30px;
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li a {
    display: inline-block;
    width: 100px;
    height: 35px;
    margin-left: 4px;
    margin-bottom: 4px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    background: #f13c3c;
    border-radius: 2px;
    color: #fff;
}

.main-wrapper .main-content .right-wrapper .login-content fieldset li a:hover
{
    color:#ff0;
}
.main-wrapper .main-content .right-wrapper .login-content fieldset li a:nth-child(1) {
    margin-left: 141px
}