<div class="agreement" style="display:none;">
<p>联盟协议<br />
一、新葡京娱乐场对代理联盟的权利与义务<br />
1. 新葡京娱乐场的客服部会登记联盟的会员并会观察他们的投注状况。联盟及会员必须同意并遵守新葡京娱乐场的会员条例，政策及操作程式。澳门威尼斯人保留拒绝或冻结联盟/会员帐户权利<br />
2. 代理联盟可随时登入介面观察旗下会员的下注状况及会员在网站的活动概况。新葡京娱乐场的客服部会根据代理联盟旗下的会员计算所得的佣金。<br />
3. 新葡京娱乐场保留可以修改合约书上的任何条例，包括: 现有的佣金范围、佣金计划、付款程式、及参考计划条例的权力，新葡京娱乐场会以电邮、网站公告等方法通知代理联盟。 代理联盟对于所做的修改有异议，代理联盟可选择终止合约，或洽客服人员反映意见。 如修改后代理联盟无任何异议，便视作默认合约修改，代理联盟必须遵守更改后的相关规定。<br />
二、代理联盟对新葡京娱乐场的权力及义务<br />
1. 代理联盟应尽其所能，广泛地宣传、销售及推广新葡京娱乐场，使代理本身及新葡京娱乐场的利润最大化。代理联盟可在不违反法律下，以正面形象宣传、销售及推广新葡京娱乐场，并有责任义务告知旗下会员所有新葡京娱乐场的相关优惠条件及产品。<br />
2. 代理联盟选择的新葡京娱乐场推广手法若需付费，则代理应承担该费用。<br />
3. 任何新葡京娱乐场相关资讯包括: 标志、报表、游戏画面、图样、文案等，代理联盟不得私自复制、公开、分发有关材料，新葡京娱乐场保留法律追诉权。 如代理在做业务推广有相关需要，请随时洽新葡京娱乐场。<br />
三、规则条款<br />
1. 各阶层代理联盟不可在未经新葡京娱乐场许可情况下开设双/多个的代理帐号，也不可从新葡京娱乐场帐户或相关人士赚取佣金。请谨记任何阶层代理不能用代理帐户下注，新葡京娱乐场有权终止并封存帐号及所有在游戏中赚取的佣金。<br />
2. 为确保所有新葡京娱乐场会员账号隐私与权益，新葡京娱乐场不会提供任何会员密码，或会员个人资料。各阶层代理联盟亦不得以任何方式取得会员资 料，或任意登入下层会员账号，如发现代理联盟有侵害新葡京娱乐场会员隐私行为，新葡京娱乐场有权取消代理联盟红利，并取消代理联盟账号<br />
3. 代理联盟旗下的会员不得开设多于一个的帐户。新葡京娱乐场有权要求会员提供有效的身份证明以验证会员的身份，并保留以IP判定是否重复会员的权利。如违反上述事项，新葡京娱乐场有权终止玩家进行游戏并封存帐号及所有于游戏中赚取的佣金<br />
4. 代理联盟不可为自己或其他联盟下的有效投注会员,只能是公司直属下的有效投注会员, 代理每月需有2个下线有效投注（有效投注为每月至少上线5次进行正常投注），如有违反联盟协议新葡京娱乐场有权终止并封存帐号及所有在游戏中赚取的佣金。<br />
5. 如代理联盟旗下的会员因为违反条例而被禁止享用新葡京娱乐场的游戏，或新葡京娱乐场退回存款给会员，新葡京娱乐场将不会分配相应的佣金 给代理联盟。如代理联盟旗下会员存款用的信用卡、银行资料须经审核，新葡京娱乐场保留相关佣金直至审核完成。<br />
6. 合约内的条件会以新葡京娱乐场通知接受代理联盟加入后开始执行。新葡京娱乐场及代理联盟可随时终止此合约，在任何情况下，代理联盟如果想终止 合约，都必须以书面/电邮方式提早于七日内通知新葡京娱乐场。代理联盟的表现会3个月审核一次，如代理联盟已不是现有的合作成员则本合约书可以在任 何时间终止。如合作伙伴违反合约条例，新葡京娱乐场有权立即终止合约。<br />
7. 在没有新葡京娱乐场许可下，代理联盟不能透露及授权新葡京娱乐场相关密资料，包括代理联盟所获得的回馈、佣金报表、计算等;代理联盟有义务在合约终止后仍执行机密档及资料的保密。<br />
8. 在合约终止后，代理联盟及新葡京娱乐场将不须要履行双方的权利及义务。终止合约并不会解除代理联盟于终止合约前应履行的义务。</p>
</div>
