<h1><span>存款帮助</span></h1>

<div class="description" id="middle">
<div class="content">
<p>&nbsp;★您现在可以透过以下方式存款给新葡京：<br />
一、银行卡划款<br />
&nbsp;&bull; 银行卡划款是通过公司指定的银行卡号进行存款支付，银行卡划款可以用网银转帐，ATM存款，或者柜台汇款的方式支付，具体步骤如下：<br />
1. 请您登陆会员帐户，点击&ldquo;在线存款&rdquo;，选择&ldquo;公司入款&rdquo;，进入查看最新的公司入款收款银行账户信息或向24小时在线客服人员索取。<br />
2. 目前公司提供中国工商银行、中国建设银行、中国农业银行、可选择。跨行转账请您使用跨行快汇，存款到帐时间约为三到五分钟。如会员需要其它银行汇款，请联系我们的24小时-在线客服。<br />
3. 转账成功请您在&ldquo;银行转账&rdquo;上提交您存入的金额，我们将于确认到帐后立刻为您游戏帐户充值。<br />
4. 会员通过银行卡划款方式入款，系统将自动增加 1.2% 存款优惠。<br />
&bull; 注：请您存款时在金额后面加个尾数（例如：欲入5000元，请转5000.18元），方便快速到账，谢谢！<br />
&nbsp;<br />
二、 线上支付<br />
1. 会员登入后点选&rdquo;在线存款&rdquo;选择&ldquo;线上充值&rdquo;。<br />
2. 选择入款额度，并请确实填写 &rdquo;联络电话&rdquo; ，如有任何问题，方便澳门新葡京客服第一时间与您联系。<br />
3. 选择&rdquo;支付银行&rdquo;。<br />
4. 确认送出后，将请您确认您的支付订单无误，并建议您记录您的支付订单号后，确认送出，并耐心等待载入网络银行页面，传输中已将您账户数据加密，请耐心等待。<br />
5. 进入网上银行页面，请确实填写您银行账号信息，支付成功，额度系统将即时为您添加到您的新葡京会员账户。<br />
&nbsp;<br />
◎存款需知：<br />
&bull; 新葡京单笔最低存款为 ￥100人民币， 线上支付单笔最高存款上限为 ￥50000人民币，若存款超过￥50000，请分几次存入；银行转账入款无上限。<br />
&bull;未开通网银的会员，请您到银行柜台办理。<br />
&bull;如有任何问题，请您联系24小时在线客服。</p>
</div>
</div>
