<div class="colect">
                    <a href="/views/html/line.html">备用网址</a>
                    <a>|</a>
                    <a href="/views/html/aboutus.html?page=agent">代理加盟</a>
                    <a>|</a>
                    <a href="http://agent.0363g.com">代理登入</a>
                    <a>|</a>
                    <a href="javascript:void(0)" onclick="SetHomePage('http://'+window.location.host)">设为首页</a>
                    <a>|</a>
                    <a href="javascript:void(0)" onclick="AddFavorite('http://'+window.location.host,document.title)">收藏本站</a>
</div>