<div id="L-Menual" class="nav">
        <ul id="main-Menual">
            <li class="LS-home current">
                <a href="/views/main.html" class="Nav_one">首页</a>
            </li>
            <li class="LS-game">
                <a href="/views/html/electronicGame.html" class="textGlitter" style="color: rgb(255, 0, 0);">电子游艺
                    <span class="hot"></span>
                </a>
            </li>
            <li class="LS-chess">
                <a href="/views/html/chess.html" class="textGlitter" style="color: rgb(255, 0, 0);">棋牌游戏
                    <span class="hot"></span>
                </a>
            </li>
            <li class="LS-lottery">
                <a href="/page/game-center.html">彩票游戏</a>
            </li>
            <li class="LS-MarkSix">
                <a id="n9" href="/data/game/lhc/index.html">六合彩</a>
            </li>
            <li class="LS-live">
                <a href="/views/html/LiveVideo.html">视讯直播</a>
            </li>
            <li class="LS-ball">
                <a id="n2" href="/views/html/sportsNav.html">体育赛事</a>
            </li>
            <li class="LS-kingGlory">
                <a id="n8" href="/views/html/kingGlory.html">王者荣耀</a>
            </li>
            <li class="LS-youhui">
                <a id="n6" href="/views/html/youhui.html" class="textGlitter" style="color: rgb(255, 0, 0);">
                    优惠活动
                    <span class="hot"></span>
                </a>
            </li>
            <li class="LS-mobile">
                <a id="n7" href="<!--#include virtual='/views/app_downloadUrl.html'-->" class="textGlitter"
                                     style="color: rgb(255, 0, 0);">手机APP
                    <span class="hot"></span>
                </a>
            </li>
        </ul>
        <div id="L-Sub">
            <div class="LS-game" style="display: none; left: 0px;">
                <span class="subbg-left"></span>
                <a href="/views/html/youhui.html" style=" color:#FF0000">天天返水1.5%起</a>
                <a href="/views/html/electronicGame.html?gameType=cq9">CQ9电子</a>
                <a href="/views/html/electronicGame.html?gameType=cq9">MG电子</a>
                <a href="/views/html/electronicGame.html?gameType=cq9">AG电子</a>
                <a href="javascript:bywEnterGame()">AG捕鱼</a>
                <a href="/views/html/electronicGame.html?gameType=bbin">BB电子</a>
                <a href="/views/html/electronicGame.html?gameType=pt">PT电子</a>
                <span class="subbg-right"></span>
            </div>

            <div class="LS-chess" style="display: none;">
                <span class="subbg-left"></span>
                <a href="/views/html/chess.html?gameType=jb">金宝棋牌</a>
                <a href="/views/html/chess.html?gameType=ky">开元棋牌</a>
                <span class="subbg-right"></span>
            </div>
            <div class="LS-live" style="display: none;">
                <span class="subbg-left"></span>
                <a href="/views/html/youhui.html" style=" color:#FF0000">天天返水0.8%起</a>
                <a href="javascript:EnterLiveGame('ag')">AG国际馆</a>
                <a href="javascript:EnterLiveGame('bbin')">BBIN馆</a>
                <a href="javascript:EnterLiveGame('lmg')">LMG贵宾馆</a>
                <a href="javascript:EnterLiveGame('ds')">DS太阳城</a>
                <a href="javascript:EnterLiveGame('mg')">MG欧美馆</a>
                <a href="javascript:EnterLiveGame('og')">OG东方馆</a>
                <a href="javascript:EnterLiveGame('dg')">DG亚洲馆</a>
                <span class="subbg-right"></span>
            </div>
            <div class="LS-ball" style="left: 500px;display: none;">
                <span class="subbg-left"></span>
                <a href="/views/html/youhui.html" style=" color:#FF0000">天天返水0.8%起</a>
                <a href="/views/html/sports.html">皇冠体育</a>
                <a href="javascript:EnterLiveGame('sb')">沙巴体育</a>
                <a href="javascript:EnterLiveGame('sb')">BB体育</a>
                <a href="javascript:EnterLiveGame('m8')">M8体育</a>
                <span class="subbg-right"></span>
            </div>
        </div>
    </div>