<div class="content">
<p>代理方案</p>

<p>澳门新葡京会定期与不定期举办各种优惠活动，在您参与前，您必须完全同意以下规则和遵循以下义务：</p>

<p>1.您必须已经是澳门新葡京会员且必须同意我们的&ldquo;澳门新葡京服务条款&rdquo;方有参与本活动资格。</p>

<p>2.活动资格与奖励无法转让。</p>

<p>3.同一帐户/家庭/户籍地址/电邮地址/电话号码/付款账号（如借记卡/信用卡账号等）/ IP地址/共享计算机环境，仅限于优惠一次。</p>

<p>4.领取该红利用户在完成相应红利流水活动期间，必须从本机物理IP地址登陆，凡是隐藏客户真实身份，使用VPN，代理服务器或云服务器登陆者，一律没收所发放红利。</p>

<p>5.澳门新葡京有权单方面决定会员是否利用优惠活动进行异常或无风险投注。对会员行为做出严格监视，发现有任何违背、欺骗、或利用规则与条款进行非法获利的会员，澳门新葡京有权终止会员的登陆、暂停会员使用网站和没收奖金及赢利的权力，无须特别通知。</p>

<p>6.活动如有任何异动，澳门新葡京有权在任何时间，修改、暂停或取消优惠活动。</p>

<p>7.会员参与本活动时，澳门新葡京将默认同意并遵守活动条款等相关规定，若用户有异议，可申请放弃此活动参加资格。</p>

<p>8.澳门新葡京具有解释奖金授予事项及规则与条款的权力。</p>
</div>
