[
      {
    "id": "1",
    "type": "cpyx",
    "logoSrc": "/views/image/20180908/20180908162510312202-cpyx.png",
    "styleSrc": "/views/image/20180908/20180908162514550916-hot.png",
    "name": "彩票游戏",
    "href": "#/gcdt",
    "_b": true
  },
  {
    "id": "2",
    "type": "ag",
    "logoSrc": "/views/image/20180908/20180908162524149331-ag.png",
    "styleSrc": "/views/image/20180908/20180908162558469588-hot.png",
    "name": "AG视讯",
    "href": "",
    "_b": false
  },
  {
    "id": "3",
    "type": "bbin",
    "logoSrc": "/views/image/20180908/20180908162605154826-bbin.png",
    "styleSrc": "/views/image/20180908/20180908162607450715-hot.png",
    "name": "BBIN馆",
    "href": "",
    "_b": false
  },
  {
    "id": "4",
    "type": "ele",
    "logoSrc": "/views/image/20180908/20180908162624675720-ele.png",
    "styleSrc": "/views/image/20180908/20180908162626827899-hot.png",
    "name": "电子游艺",
    "href": "#/electronic",
    "_b": true
  },
  {
    "id": "6",
    "type": "hgty",
    "logoSrc": "/views/image/20180908/20180908162654006858-sports.png",
    "styleSrc": "/views/image/20180908/20180908162656861149-hot.png",
    "name": "皇冠体育",
    "href": "#/sports",
    "_b": true
  },
  {
    "id": "7",
    "type": "lmg",
    "logoSrc": "/views/image/20180908/20180908162705187118-lmg.png",
    "styleSrc": "/views/image/20180908/20180908162707085209-hot.png",
    "name": "LMG视讯",
    "href": "",
    "_b": false
  },
  {
    "id": "8",
    "type": "lhc",
    "logoSrc": "/views/image/20180908/20180908162641107112-lhc.png",
    "styleSrc": "/views/image/20180908/20180908162643072635-hot.png",
    "name": "香港六合彩",
    "href": "#/game/70",
    "_b": true
  },
 {
    "id": "10",
    "type": "chess",
    "logoSrc": "/views/image/20180908/20180908162929607875-20180701150038265855-240.png",
    "styleSrc": "/views/image/20180908/20180908162931918886-hot.png",
    "name": "棋牌游戏",
    "href": "#/chess",
    "_b": true
  }
]