<!--支持循环，需要重复图片节点-->
        <div class="mui-slider-item mui-slider-item-duplicate"><a href=""><img src="/views/image/20181018/20181018221952678198-IMG_4227.jpg"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20181018/20181018221831404809-IMG_4223.jpg"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20181018/20181018221854768126-IMG_4224.jpg"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20181018/20181018221911137128-IMG_4225.jpg"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20181018/20181018221933203133-IMG_4226.jpg"/></a></div>
    <div class="mui-slider-item"><a href=""><img src="/views/image/20181018/20181018221952678198-IMG_4227.jpg"/></a></div>
        <div class="mui-slider-item mui-slider-item-duplicate"><a href=""><img src="/views/image/20181018/20181018221831404809-IMG_4223.jpg"/></a></div>
