<!DOCTYPE html>
<html lang="en">
<head>
  <!--#include virtual="/views/html/head.html"-->
  <link rel="stylesheet" href="/views/css/login.css">
</head>
<body>
<!--#include virtual="/views/html/header.html"-->
<div id="center">
  <div style="clear:both;"></div>
  <div class="main-wrapper">
    <div class="main-content">
      <!--#include virtual="/views/html/left-menu.html"-->
      <div class="right-wrapper">
        <!--#include virtual="/views/html/login-content.html"-->
      </div>
    </div>
  </div>
</div>
<!--#include virtual="/views/html/footer.html"-->
</body>
</html>